/* Estilos para o container no modo claro */
.containerAlterado {
    background-color: #ececec;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 1px;
    width: 800px;
    height: 450px;
    border: 2px solid rgb(36, 44, 54);
    min-height: 100px;
    overflow: auto;
}
.containerAlterado2 {
    background-color: #ececec;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 1px;
    width: 800px;
    height: 400px;
    border: 2px solid rgb(36, 44, 54);
    min-height: 100px;
    overflow: auto;
}
.selectAlterado{
    border-color: black;
}
.containerOpcoes{
    background-color: #ececec;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 1px;
    width: 300px;
    height: 400px;
    border: 2px solid rgb(36, 44, 54);
}
.containerOpcoes.dark-mode {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #444;
    box-shadow: 0 0 5px #000;
}

body {
    background-color: rgb(212, 208, 208);
}

.td_opcao{
    width: 190px;
}


.botaoPesquisa{
    margin-bottom: 12px;
}

.form-control {
    border: 1px solid rgb(36, 44, 54); 
}

h2 {
    text-align: center;
}


input {
    size: 2px;
}

footer{
    text-align: center;
    color: rgb(139, 139, 139);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btnCentraliza{
  
  position: absolute;
  top: 50%;
  left: 43%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btnSoft{
    border-radius: 30px;
    width: 200px;
}
.centralizaDIV{
    display: flex; 
    align-items: center; 
    justify-content: center
}

.tablealterada{
    border-color:gray;
}
table.tablealterada tbody tr:hover td {
    background-color: #f1f1f1; /* Cor de fundo para o hover no modo claro */
    color: #000; /* Cor do texto no hover no modo claro */
}

.orientacao{
    float: right;
    margin-right: 5px;
}
